<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright © 4 janv. 2010 RealTime-at-Work.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
 
  Contributors:
    Loïc Fejoz - initial API and implementation and/or initial documentation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="quizz.presentation.QuizzModelWizardID"
            name="%_UI_QuizzModelWizard_label"
            class="quizz.presentation.QuizzModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QuizzModelFile.gif">
         <description>%_UI_QuizzModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="quizz.presentation.QuizzEditorID"
            name="%_UI_QuizzEditor_label"
            icon="icons/full/obj16/QuizzModelFile.gif"
            extensions="quizz"
            class="quizz.presentation.QuizzEditor"
            contributorClass="quizz.presentation.QuizzActionBarContributor">
      </editor>
   </extension>

</plugin>
