<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright © 4 janv. 2010 RealTime-at-Work.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
 
  Contributors:
    Loïc Fejoz - initial API and implementation and/or initial documentation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schema.rtaw.fr/quizz"
            class="quizz.QuizzPackage"
            genModel="model/quizz.genmodel"/>
   </extension>

</plugin>
